phase1_best_checkpoints/**/*.pth filter=lfs diff=lfs merge=lfs -text
model/ViT-L-14-336px.pt filter=lfs diff=lfs merge=lfs -text
runs/phase2b/phase2b_hybrid_alpha02_kreg2e3_lkg1e2_lr5e5_train15_test6medical7to15_fromscratch/adapter_10.pth filter=lfs diff=lfs merge=lfs -text
